.signBox{
    width: 425px;
    height: 667px;
    

}

#signupBtn{
    background-color: #a73019;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
#signupBtn:hover{
    background-color: #f14b2a;
}
